/.vscode
/.git
/devops
/node_modules
/coverage
/devops
/v1
/dist
/tests
/assets
/file-system
bitbucket-pipelines.yml
.editorconfig
sonar-project.properties
.env*
*.log
*.md
*.yml
!.yarnrc.yml

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
